<%- include('partials/header') -%>
    <div class="container mt-3">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingPassword" placeholder="full name">
            <label for="floatingPassword">Full Name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="number" class="form-control" id="floatingPhone" placeholder="full name">
            <label for="floatingPassword">Phone Number</label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                style="height: 100px"></textarea>
            <label for="floatingTextarea2">Message</label>
        </div>
        <button type="button" class="btn btn-primary mb-3">Send Form</button>
    </div>

    <%- include('partials/footer') -%>